body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#ffd6e7,#e0f7ff);
text-align:center;
overflow-x:hidden;
}

.container{
margin-top:120px;
}

h1{
font-size:40px;
}

.subtitle{
font-size:18px;
color:#444;
}

#countdown{
font-size:20px;
margin-top:20px;
}

button{
padding:10px 20px;
border:none;
border-radius:20px;
background:#ff8fb1;
color:white;
font-size:16px;
display:none;
cursor:pointer;
}

.letter-section{
margin-top:200px;
}

.envelope{
width:220px;
height:140px;
background:white;
margin:auto;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
position:relative;
}

.seal{
font-size:30px;
position:absolute;
top:45px;
left:95px;
cursor:pointer;
}

.letter{
width:80%;
max-width:500px;
background:white;
margin:40px auto;
padding:20px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
display:none;
max-height:400px;
overflow-y:auto;
text-align:left;
}

.photo{
width:100%;
border-radius:10px;
margin:10px 0;
}

.backBtn{
font-size:28px;
text-align:center;
margin-top:20px;
cursor:pointer;
}

.backText{
text-align:center;
font-size:14px;
}